# Bỏ qua các thư mục hệ thống và thư mục tạm của Unity
Library
Temp
Obj
Logs
UserSettings
.vs
.git
.vscode
.idea

# Bỏ qua source code gốc (vì ta chỉ cần copy file đã Build)
# Nếu bạn cần copy Assets vào container thì bỏ dòng dưới, nhưng thường Server Build không cần Assets thô.
Assets
Packages
ProjectSettings